{{define "polarbear"}}
Here is my polar bear template
{{end}}

{{define "polarbear2"}}
Here is a second template 
{{.}}
{{end}}

{{define "prettyPicture"}}
<img src="D:\Go_Workspace\src\golang_webdev_tutorial\my_stuff\example_07-nested_templates\resources_defined\pics\gmail.png"
class="example_class" style="width: 5vwpx" style="height: 5vh">
{{end}}